## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## VS / Rider
.vs/
.idea/
*.DotSettings.user

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

## Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
TestResult.xml
